<html>
    <head>
    </head>

    <body>
    <h3>Link: {{form_data.user_link}} </h3>
    <h4>User Heading: {{form_data.user_data.headline}} </h4>
    <h5>User Content: {{form_data.user_data.content}} </h5>
    <h3>Admin Link: {{form_data.admin_data.link}} </h3>
    <h4>Admin Heading: {{form_data.admin_data.headline}} </h4>
    <h5>Admin Content: {{form_data.admin_data.content}} </h5>
    <h3>Result: {{form_data.result}} </h3>
    <h3>Similarity: {{form_data.similarity}} </h3>
    <img src="{{form_data.admin_data.image}}" alt="No Image Available">
    </body>
</html>